@page
@model SportsTournamentWebApp.Pages.TournamentInfoModel
@{
    <h1>@Model.T.Title</h1>
    <h2>Start date:  @Model.T.Info.StartDate.ToShortDateString()</h2>
    <h2>End date: @Model.T.Info.EndDate.ToShortDateString()</h2>
    <h2>Location: @Model.T.Info.Location</h2>
    <h2>System: @Model.T.Info.System</h2>

    @if (@Model.T.Status == Entities.Status.open)
    {
        <form method="post">

            <button name="button" value="register" asp-route-id="@Model.T.Id">Register for this tournament</button>
            <span>@ViewData["message"]</span>
        </form>
    }
    else if (@Model.T.Status == Entities.Status.finished)
    {
        int place = 1;
        for (int i = Model.Ranking.Count - 1; i >= 0; i--)
        {
            <p>Place: @place</p>
            <p>Player number: @Model.Ranking.ElementAt(i).Key</p>
            place++;
        }
    }

}

    


